<h1><%= @pokerTitle %></h1>
<p><%= link_to "Refresh this page to deal a new hand.", poker_path%></p>
<hr>

<%= image_tag(@imagePoker[@numChoose[0]], :size => "216x288")%>
<%= image_tag(@imagePoker[@numChoose[1]], :size => "216x288")%>
<%= image_tag(@imagePoker[@numChoose[2]], :size => "216x288")%>
<%= image_tag(@imagePoker[@numChoose[3]], :size => "216x288")%>
<%= image_tag(@imagePoker[@numChoose[4]], :size => "216x288")%>
